<div class="col-md-2 bg-dark text-white min-vh-100 p-3">

    <h4 class="mb-4">
        Menu
    </h4>

    <ul class="nav flex-column">

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="/admin/dashboard">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="/admin/users">
                <i class="fa-solid fa-users"></i>
                Users
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="/admin/departments">
                <i class="fa-solid fa-building"></i>
                Departments
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="/admin/subjects">
                <i class="fa-solid fa-book"></i>
                Subjects
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="#">
                <i class="fa-solid fa-file"></i>
                Notes
            </a>
        </li>

        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</div>